@use '../styles/_variables.scss' as *;

.nav-container {
  background-color: white;
  border: whitesmoke 1px solid;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.categoriasWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 42px;
  margin-bottom: -16px;
}

.nav-item {
  color: $autoequipe-blue;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.logo {
  width: 10rem;
}